body, html {
    height: 100%;
    background: linear-gradient(to bottom right, #70b4fd, #151763);
}

.log{
    height:100%;
    display: flex;
}

.logbox{
    background-color: white;
    margin: auto;
    width: 400px;
    height: 340px;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 8px 8px 16px 0px rgba(0, 00, 00, 0.4);
}

.logbox hr{
    width: 90%;
}

.logheader{
    font: bold 50px "Bebas Neue Bold";
    margin-bottom: 10px;
    margin-left: 40%;
}

.logbox p{
    width: 90%;
    display: inline-table;
    padding: 5px 20px;
    margin-bottom:2px;
}

label {
    font-family: "Bebas Neue Bold";
    float: left;
    width: 100%;
    top: 0px;
    text-align: left;
    line-height: 1.5;
}

.inbox{
    width: 95%;
    height: 32px;
    padding: 0px 10px;
    background-color: rgba(0,0,0,0.1);
    border: none;
    display: inline;
    color: #303030;
    font-size: 16px;
    font-weight: 400;
    float: left;
    border-radius: 5px;
}

.butt{
    width: 100%;
    height: 48px;
    padding: 0 20px;
    font-family: "Bebas Neue Bold";
    font-size: 25px;
    letter-spacing: 1px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background-color: #2a8df8;
    border: 1px #2a8df8 solid;
    cursor: pointer;
    border-radius: 5px;
}

.redirect{
    font-family: "Bebas Neue Bold";
    font-size: 15px;
    padding-left: 20px;
}

.redirect a{
    text-decoration: none;
}

.redirect a:hover{
    color: red;
}

.redirect a:visited{
    color: black;
}


@font-face {
    font-family: "Bebas Neue Bold";
    src:  url("../fonts/BebasNeue Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}