header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.header_menu{
    justify-content: flex-end;
    position: relative;
    display: flex;
    height: 80px;
    align-items: center;
    background: rgb(5,0,93);
    background: linear-gradient(90deg, rgba(5,0,93,1) 0%, rgba(18,84,154,1) 50%, rgba(5,0,93,1) 100%);
    box-shadow: 0 11px 17px 4px rgba(34, 60, 80, 0.4);
}

.empty_punkt{
    flex-grow: 1;
}

.punkt{
    padding: 0 20px;
    font-family: "Bebas Neue Bold";
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.header_logo{
    justify-self: flex-start;
    padding: 0 20px;
}

.header_img{
    width: 70px;
    height: auto;
}


@font-face {
    font-family: "Bebas Neue Bold";
    src:  url("../fonts/BebasNeue Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}