<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>Менеджмент</title>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link media="all" rel="stylesheet" th:href="@{/css/adminstyle.css}" type="text/css">
    <link type="image/png" sizes="48x48" rel="icon" th:href="@{/images/favicon.png}">
</head>
<body>
<header>
    <div class="header_menu">
        <a th:href="@{/}" class="header_logo"><img th:src="@{/images/logo2.png}" alt="" class="header_img"></a>
        <span class="empty_punkt"></span>
        <form th:if="${user != 'anonymous'}" th:action="@{/logout}" method="post">
            <input type="submit" value="Выход" class="logout">
        </form>
    </div>
</header>

<div class="ordertable">
    <span th:if="${orders.empty}" class="emptylist">Ни одного заказа в базе данных</span>
    <span th:if="${not orders.empty}" class="emptylist">База данных заказов:</span>
    <table>
        <tbody class="tbl">
        <tr th:if="${not orders.empty}">
            <td class="maintd"> ID заказа</td>
            <td class="maintd"> ID пользователя</td>
            <td class="maintd"> Марка</td>
            <td class="maintd"> Модель</td>
            <td class="maintd"> Заказ</td>
            <td class="maintd"> Оповещение</td>
            <td class="maintd"> Статус работ</td>
        </tr>
        <tr th:each="order : ${orders}" class="tablerow">
            <td><span th:text="${order.getId}"> </span></td>
            <td><a th:href="@{'/userpage?id='+${order.getUserid}}"><span th:text="${order.getUserid}"> </span></a></td>
            <td><span th:text="${order.getBrand}"> </span></td>
            <td><span th:text="${order.getModel}"> </span></td>
            <td><span th:text="${order.getRequest}"> </span></td>
            <td><span th:text="${order.getNotification}"> </span></td>
            <td> <span th:switch="${order.completed}">
                 <span th:case="true" class="yes">Завершено</span>
                 <span th:case="false" class="no"><a th:href="@{'/completed?id='+${order.getId}}">Выполняются</a></span>
        </span></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="usertable">
    <span th:if="${users.empty}" class="emptylist">Ни одного заказа в базе данных</span>
    <span th:if="${not users.empty}" class="emptylist">База данных пользователей:</span>
    <table>
        <tbody class="tbl">
        <tr th:if="${not users.empty}">
            <td class="maintd"> ID</td>
            <td class="maintd"> Email</td>
            <td class="maintd"> Телефон</td>
            <td class="maintd"> Юзернейм</td>
        </tr>
        <tr th:each="user : ${users}" class="tablerow">
            <td><a th:href="@{'/userpage?id='+${user.getId}}"><span th:text="${user.getId}"> </span></a></td>
            <td><span th:text="${user.getEmail}"> </span></td>
            <td><span th:text="${user.getPhone}"> </span></td>
            <td><span th:text="${user.getUsername}"> </span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>