html, body{
    height: 100%;
    /*background-image: url(../images/background.png);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.wrapper{
    padding-bottom: 50px;
}

h1{
    font-family: "Bebas Neue Bold";
    font-size: 250%;
}

.container{
    max-width: 1900px;
    margin: 0px auto;
    padding: 0px 10px;
}

.container_text main_head{

}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}
